<div class='toast fade show' role='alert' aria-live='assertive' aria-atomic='true'>
<div class='toast-header bg-success text-white'>
    <strong class='me-auto'>Recovery completed</strong>
    <small class='text-muted'></small>
    <button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button>
</div>
<div class='toast-body'>
   New volume <%= volume %> created from file <%= file %>.
</div>
</div>