<h1>Recovery files</h1>
<p>Upload <span class="badge bg-primary">.tar</span> file.</p>
<div class="col-8 m-auto">
    <%= form_with(url: "/recover/upload", method: "post") do |form| %>
        <div class="form-group">
            <%= form.label :file, "Select file" %>
            <%= form.file_field :file  %>
        </div>

        <div class="mt-3 actions">
            <%= form.submit "Upload file", class: "btn btn-primary form-control" %>
        </div>
    <% end %>
</div>