<h1>Docker volumes</h1>
<p>From this page you can create a <span class="badge bg-primary">.tar</span> file from any existing volume.</p>

<button type="button" class="btn btn-sm btn-secondary" disabled>Backup selected</button>
<button type="button" class="btn btn-sm btn-secondary" disabled>Backup all</button>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Mountpoint</th>
      <th>CreatedAt</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

<% @volumes.each do |volume| %>
<tr>
    <td><%= volume["Name"].size > 24 ? "#{volume["Name"][0,21]}..." : volume["Name"]  %></td>
    <td><%= volume["Mountpoint"].size > 42 ? "#{volume["Mountpoint"][0,39]}..." : volume["Mountpoint"] %></td>
    <td><%= volume["CreatedAt"] %></td>
    <td><%= link_to'Create backup', "/backup/new/#{volume["Name"]}", class:"btn btn-success btn-sm" unless volume["Name"] == "docker-backup" %></td>
</tr>
<% end %>
</tbody>
</table>