<h1>Docker volumes</h1>
<p>From this page you can create a <span class="badge bg-primary">.tar</span> file from any existing volume.</p>

<% if @volumes.size > 0 %>

  <%= render 'volumes', volumes: @volumes %>

<% else %>

  <%= render 'empty' %>

<% end %>