<div class='toast fade show' role='alert' aria-live='assertive' aria-atomic='true'>
<div class='toast-header bg-<%= color %> text-white'>
    <strong class='me-auto'><%= title %></strong>
    <small class='text-muted'></small>
    <button type='button' class='btn-close' data-bs-dismiss='toast' aria-label='Close'></button>
</div>
<div class='toast-body'>
   <%= message %>
</div>
</div>